<nav class="navbar navbar-expand-lg navbar-light " style="background-color:  #c74940; height:60px">
  <a class="navbar-brand" href="#"><img style="    width: 300px; height: 69px;border-radius: 3%; position: absolute; left: 550px;top: 0px;" src="/img/GSB (1).jpg" </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login"><h6>Sign in or Register</h6><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
            <sppan class="nav-item active">
        <a class="nav-link" href="/cart" style="color: black;"><img src="https://img.icons8.com/pastel-glyph/2x/shopping-cart--v2.png" width="30" height="30" /> cart<span class="sr-only">(current)</span></a>
      </span>
    </form>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: antiquewhite">
  <a class="navbar-brand" style="margin-left:100px" href="#"> <img src="https://image.flaticon.com/icons/svg/406/406507.svg" width="30" height="30" alt="skn"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " style="margin-left:200px">
        <a class="nav-link" href="/shoes/women?page=1">Women <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="margin-left:200px">
        <a class="nav-link" href="/shoes/men?page=1">Men</a>
      </li>
      <li class="nav-item" style="margin-left:200px">
        <a class="nav-link" href="/shoes/kids?page=1">Kids</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="margin-left:200px">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>