<body  style="background-image: url(https://images.unsplash.com/photo-1551341610-afca5ddafdaf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1145&q=80); background-repeat: no-repeat;background-size: cover;">

<div class="container">
    <div class="row">
        <div class="col mt-5" style="margin-left: 150px;position: relative; top: 400px;">
            <h1>Thank you for shopping</h1>
            <a href="/">
            <button type="button" style="margin-left:65px;width: 300px" class="btn btn-secondary btn-lg mt-5"><h4>Go to Home page</h4></button>
            </a>
        </div>
    </div>
</div>
</body>